<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>POST 방식 테스트 요청 페이지</title>
</head>
<body>
	
	<h1>POST 방식으로 요청 후 응답 페이지 받아보기</h1>
	
	<p>
		특징 1. POST방식으로 요청하는건 URL의 Body영역에 데이터를 포함시켜 요청<br>
		=> 사용자가 입력한 값(데이터)들이 URL에 노출되지 않음<br>
		=> 보안 유지가 가능 <br>
		=> 즉, 로그인이나 회원가입 같은 경우 POST방식이 적합함<br><br>
		
		특징 2. Body영역은 전송하는 길이에 제한이 없음<br>
		=> 즉, 게시판 작성같은 경우 post방식이 적합함<br><br>
		
		특징 3. 즐겨찾기는 가능하나 전달되는 데이터가 URL에 노출되어있지 않음(기존에 봤던 응답화면을 볼수 없음)<br><br>
		
		특징 4. 최대요청받는 시간(time out)이 존재해 페이지 요청, 기다리는 식간이 있다.<br>
	</p>
	
	 <form action="/1_Servlet/test2.do" method="post"> <!-- 절대경로방식 -->
	 	<ul>
	 		<li>
	 			이름 : <input type="text" name="name"> <!-- input 태그 사용시 key(name)값은 반드시 넘겨야함. -->
	 		</li>
	 		<li>
	 			성별:
	 			남자 <input type="radio" name="gender" value="M">
	 			여자 <input type="radio" name="gender" value="F">
	 			<!-- radio 버튼 사용시 같은 묶음으로 묶어줘야함(name을 동일하게) -->
	 		</li>
	 		<li>
	 			나이 : <input type="number" name="age">
	 		</li>
	 		<li>
	 			사는도시 :
	 			<select name="city">
	 				<option>서울시</option>
	 				<option>경기도</option>
	 				<option>강원도</option>
	 				<option>충청도</option>
	 				<option>경상도</option>
	 				<option>전라도</option>
	 			</select>
	 		</li>
	 		<li>
	 			키 : <input type="range" name="height" min="140" max="210">
	 		</li>
	 		<li>
	 			종아하는 음식(모두 고르시오) :
	 			한식<input type="checkbox" name="food" value="한식">
	 			중식<input type="checkbox" name="food" value="중식">
	 			일식<input type="checkbox" name="food" value="일식">
	 			양식<input type="checkbox" name="food" value="양식">
	 			분식<input type="checkbox" name="food" value="분식">
	 		</li>
	 		<li>
	 			<input type="submit">
	 			<input type="reset">
	 		</li>
	 	</ul>
	 </form>
	 
</body>
</html>